.selected {
    background-color: rgb(163, 163, 163);
}

.pagination button,
.pagination p {
    min-width: 35px;
    min-height: 35px;
    margin: 0;
}

.pagination {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination p {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
